In [3]:
import pandas as pd

First import acris, a DataFrame loaded with data from 2003 building sales in 2020-2022.

In [4]:
acris=pd.read_csv('../data/acris_sales_2020-2022.csv', converters={'bbl':str})

Let's see if that worked.

In [5]:
acris

,bbl,document_id,res_unit,total_units_doc,prop_units,document_amt,price_per_blgd,ppu,percent_trans,units_bought,...,z_percent_trans_ppu,boro,year,p1_count,p1_a_name,p1_a_address_1,p1_a_address_2,p1_a_city,p1_a_state,p1_a_zip
0,2032920019,2.020080e+15,31,31,1.0,4950000,4950000,159677,100.0,31.0,...,-0.206,2,2020,1,2968 PERRY LLC,C/O: THE MORGAN GROUP,"ONE SOUND SHORE DRIVE, SUITE 203",GREENWICH,CT,6830
1,1019370046,2.020081e+15,8,8,1.0,800000,800000,100000,100.0,8.0,...,-0.707,1,2020,2,"RONALD ADAMS, AS ADMINISTRATOR",234 W 132ND ST,NaN,NEW YORK,NY,100277804
2,1004350011,2.020090e+15,10,10,1.0,8500000,8500000,850000,100.0,10.0,...,0.815,1,2020,1,94 ST MARKS LLC,C/O: PENN SOUTH CAPITAL,"41 MADISON AVE, 31ST FLOOR",NEW YORK,NY,10010
3,2039230054,2.020091e+15,17,17,1.0,2200000,2200000,129412,100.0,17.0,...,-0.567,2,2020,1,1532 LELAND AVENUE INC,"35 E GRASSY SPRAIN RD, STE. 400","C/O VINCENT CASTELLANO, ESQ",YONKERS,NY,10710
4,1004180047,2.020092e+15,22,22,1.0,5350000,5350000,243182,100.0,22.0,...,-0.417,1,2020,1,109 ELDRIDGE LLC,"C/O KOSSOFF, PLLC","217 BROADWAY, SUITE 401",NEW YORK,NY,10007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998,3018510021,2.021101e+15,7,7,1.0,1050000,1050000,150000,100.0,7.0,...,-0.824,3,2021,11,"GROSVENOR, FELICIA",82 MACDONOUGH STREET,NaN,BROOKLYN,NY,112162205
1999,3078190046,2.021110e+15,83,83,1.0,6733800,6733800,81130,60.0,49.8,...,-0.885,3,2021,1,"FRED & IVAN LEIST SPECIAL K, LLC",1710 CORTELYOU ROAD,NaN,BROOKLYN,NY,11226
2000,3033860058,2.021122e+15,6,6,1.0,975000,975000,162500,100.0,6.0,...,-0.772,3,2021,2,"CHIAFFITELLI, NANCY B",1517 JEFFERSON AVENUE,NaN,BROOKLYN,NY,11237
2001,3023110019,2.021123e+15,5,5,1.0,4000000,4000000,800000,100.0,5.0,...,1.862,3,2021,1,THE NORTH NINTH STREET GROUP LLC,164 CLYMER STREET,NaN,BROOKLYN,NY,11211
2002,3007970022,2.021123e+15,6,6,1.0,412500,412500,68750,50.0,3.0,...,-0.875,3,2021,2,"FERNANDEZ, LUIS M",446 46TH STREET,NaN,BROOKLYN,NY,11220

Now we'll import another dataframe called taxform, reflecting the amended tax statements from 26886 building owners in 2021.

In [6]:
taxform=pd.read_csv('../data/file_201_data_sm_tract.csv')

In [7]:
taxform

,BORO,BLOCK,FROM_LOT,TO_LOT,FILING YEAR,REGULATED,UNREGULATED,OFFICE,OWNER/RELATED SPACE,GOV. RENTAL SUBSIDIES,TOTAL INCOME FROM REAL ESTATE,TOTAL EXPENSES,AMORTIZED LEASE AND TENANT IMP. COSTS,REPAIRS AND MAINT.,tract_10
0,1,447,25,NaN,2021,3674.0,NaN,NaN,NaN,NaN,93074.0,96825.0,NaN,28456.0,NaN
1,1,1079,61,NaN,2021,NaN,NaN,NaN,NaN,NaN,295046.0,15020.0,NaN,7709.0,NaN
2,1,1000,29,NaN,2021,NaN,NaN,129305065.0,NaN,NaN,159048807.0,39952316.0,11508372.0,5936267.0,NaN
3,1,1000,61,NaN,2021,NaN,NaN,NaN,NaN,714647.0,714647.0,1236523.0,NaN,62443.0,NaN
4,1,1001,1001,1001.0,2021,NaN,NaN,NaN,NaN,NaN,3625614.0,296800.0,76509.0,7819.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26881,5,3960,65,NaN,2021,NaN,NaN,NaN,NaN,NaN,2274290.0,659462.0,59866.0,242514.0,NaN
26882,5,3960,7,NaN,2021,NaN,NaN,NaN,NaN,NaN,2274290.0,659462.0,59866.0,242514.0,NaN
26883,5,3960,61,NaN,2021,NaN,NaN,NaN,NaN,NaN,2274290.0,659462.0,59866.0,242514.0,NaN
26884,5,3960,65,NaN,2021,NaN,NaN,NaN,NaN,NaN,2274290.0,659462.0,59866.0,242514.0,NaN
26885,5,7206,314,NaN,2021,NaN,NaN,NaN,NaN,NaN,210000.0,151896.0,NaN,NaN,NaN

In [8]:
taxdata=pd.DataFrame(taxform)

In [9]:
taxdata.dtypes

BORO                                       int64
BLOCK                                      int64
FROM_LOT                                   int64
TO_LOT                                   float64
FILING YEAR                                int64
REGULATED                                float64
UNREGULATED                              float64
OFFICE                                   float64
OWNER/RELATED SPACE                      float64
GOV. RENTAL SUBSIDIES                    float64
TOTAL INCOME FROM REAL ESTATE            float64
TOTAL EXPENSES                           float64
AMORTIZED LEASE AND TENANT IMP. COSTS    float64
REPAIRS AND MAINT.                       float64
tract_10                                 float64
dtype: object

Next we'll import a DataFrame called taxdata, reflecting the amended tax statements from 26886 building owners in 2021.

In [10]:
taxdata=pd.read_csv('../data/file_201_data_sm_tract.csv', converters={'BORO':str, 'BLOCK':str,'FROM_LOT':str})

In [11]:
taxdata

,BORO,BLOCK,FROM_LOT,TO_LOT,FILING YEAR,REGULATED,UNREGULATED,OFFICE,OWNER/RELATED SPACE,GOV. RENTAL SUBSIDIES,TOTAL INCOME FROM REAL ESTATE,TOTAL EXPENSES,AMORTIZED LEASE AND TENANT IMP. COSTS,REPAIRS AND MAINT.,tract_10
0,1,00447,0025,NaN,2021,3674.0,NaN,NaN,NaN,NaN,93074.0,96825.0,NaN,28456.0,NaN
1,1,01079,0061,NaN,2021,NaN,NaN,NaN,NaN,NaN,295046.0,15020.0,NaN,7709.0,NaN
2,1,01000,0029,NaN,2021,NaN,NaN,129305065.0,NaN,NaN,159048807.0,39952316.0,11508372.0,5936267.0,NaN
3,1,01000,0061,NaN,2021,NaN,NaN,NaN,NaN,714647.0,714647.0,1236523.0,NaN,62443.0,NaN
4,1,01001,1001,1001.0,2021,NaN,NaN,NaN,NaN,NaN,3625614.0,296800.0,76509.0,7819.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26881,5,03960,0065,NaN,2021,NaN,NaN,NaN,NaN,NaN,2274290.0,659462.0,59866.0,242514.0,NaN
26882,5,03960,0007,NaN,2021,NaN,NaN,NaN,NaN,NaN,2274290.0,659462.0,59866.0,242514.0,NaN
26883,5,03960,0061,NaN,2021,NaN,NaN,NaN,NaN,NaN,2274290.0,659462.0,59866.0,242514.0,NaN
26884,5,03960,0065,NaN,2021,NaN,NaN,NaN,NaN,NaN,2274290.0,659462.0,59866.0,242514.0,NaN
26885,5,07206,0314,NaN,2021,NaN,NaN,NaN,NaN,NaN,210000.0,151896.0,NaN,NaN,NaN

There's no column for bbl here. We will construct one by combining the entries for boro, block and lot.

In [12]:
taxdata['bbl']= taxdata['BORO'].map(str)+taxdata['BLOCK'].map(str)+taxdata['FROM_LOT'].map(str)

In [13]:
print(taxdata['bbl'])

0        1004470025
1        1010790061
2        1010000029
3        1010000061
4        1010011001
            ...
26881    5039600065
26882    5039600007
26883    5039600061
26884    5039600065
26885    5072060314
Name: bbl, Length: 26886, dtype: object

Next, create a another data frame called mergedata. This will combine columns from taxdata and acriss, based on the shared values in the bbl column

In [24]:
mergedata2=acris.merge(taxdata, on='bbl')

In [25]:
mergedata2

,bbl,document_id,res_unit,total_units_doc,prop_units,document_amt,price_per_blgd,ppu,percent_trans,units_bought,percent_trans_edited,percent_trans_ppu_edited,seq,z_percent_trans_ppu,boro,year,p1_count,p1_a_name,p1_a_address_1,p1_a_address_2,p1_a_city,p1_a_state,p1_a_zip,BORO,BLOCK,FROM_LOT,TO_LOT,FILING YEAR,REGULATED,UNREGULATED,OFFICE,OWNER/RELATED SPACE,GOV. RENTAL SUBSIDIES,TOTAL INCOME FROM REAL ESTATE,TOTAL EXPENSES,AMORTIZED LEASE AND TENANT IMP. COSTS,REPAIRS AND MAINT.,tract_10
0,1004350011,2.020090e+15,10,10,1.0,8500000,8500000,850000,100.00,10.0000,100.00,"$850,000",1,0.815,1,2020,1,94 ST MARKS LLC,C/O: PENN SOUTH CAPITAL,"41 MADISON AVE, 31ST FLOOR",NEW YORK,NY,10010,1,00435,0011,NaN,2021,NaN,163371.0,NaN,NaN,NaN,371827.0,604802.0,NaN,181512.0,NaN
1,1004180047,2.020092e+15,22,22,1.0,5350000,5350000,243182,100.00,22.0000,100.00,"$243,182",1,-0.417,1,2020,1,109 ELDRIDGE LLC,"C/O KOSSOFF, PLLC","217 BROADWAY, SUITE 401",NEW YORK,NY,10007,1,00418,0047,NaN,2021,119722.0,166891.0,NaN,NaN,NaN,367698.0,195124.0,18753.0,45560.0,NaN
2,2028970127,2.020101e+15,46,46,1.0,5000000,5000000,108696,100.00,46.0000,100.00,"$108,696",1,-0.814,2,2020,1,FITZPATRICK HOUSE III LLC,44 WARBURTON AVENUE,1ST FL,YONKERS,NY,10701,2,02897,0127,NaN,2021,480401.0,NaN,NaN,NaN,29542.0,509943.0,327277.0,NaN,65749.0,3.600502e+10
3,4006330078,2.020101e+15,60,60,1.0,15600000,15600000,260000,100.00,60.0000,100.00,"$260,000",1,0.162,4,2020,2,"ANDREW LATOS, EXECUTOR","23-25 31ST STREET, SUITE 410",NaN,ASTORIA,NY,11105,4,00633,0078,NaN,2021,455811.0,629454.0,NaN,NaN,NaN,1087015.0,NaN,NaN,66790.0,NaN
4,3012190056,2.020101e+15,21,21,1.0,4330000,4330000,206190,100.00,21.0000,100.00,"$206,190",1,-0.446,3,2020,1,3047 LLC,165 COLERIDGE STREET,NaN,BROOKLYN,NY,11235,3,01219,0056,NaN,2021,157583.0,229092.0,NaN,NaN,NaN,393020.0,172158.0,11667.0,75127.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,3007480057,2.020012e+15,17,17,1.0,3500000,3500000,205882,100.00,17.0000,100.00,"$205,882",1,-0.447,3,2020,0,545 46TH STREET LLC,1379 CONEY ISLAND AVENUE,NaN,BROOKLYN,NY,11230,3,00748,0057,NaN,2021,257008.0,NaN,NaN,NaN,NaN,257008.0,85080.0,NaN,19187.0,NaN
255,1015710002,2.020012e+15,13,13,1.0,617310,617310,47485,21.66,2.8158,21.66,"$219,231",1,-0.465,1,2020,0,JG BRICKTOWNE LLC,C/O: J. GAULT MANAGEMENT CO. INC.,"251 WEST NYACK ROAD, SUITE D",WEST NYACK,NY,10994,1,01571,0002,NaN,2021,NaN,117154.0,NaN,NaN,NaN,218174.0,147250.0,NaN,60873.0,NaN
256,2030500070,2.020013e+15,89,89,1.0,4463828,4463828,50155,100.00,89.0000,100.00,"$50,155",1,-1.512,2,2020,0,HIGHBRIDGE COMMUNITY DEVELOPMENT CORPORATION,1465 NELSON AVENUE,NaN,BRONX,NY,10452,2,03050,0070,NaN,2021,1043885.0,NaN,NaN,NaN,NaN,1058405.0,588764.0,NaN,102631.0,3.600504e+10
257,1012020019,2.020013e+15,6,6,1.0,5595000,5595000,932500,100.00,6.0000,100.00,"$932,500",1,0.982,1,2020,0,"WHITE, CO EXECUTOR, ELIZABETH",27 HOUTMAN ROAD,NaN,SAUGERTIES,NY,12477,1,01202,0019,NaN,2021,NaN,NaN,24000.0,NaN,NaN,24000.0,52661.0,NaN,7159.0,NaN
258,1019400055,2.020013e+15,17,17,1.0,2750000,2750000,161765,100.00,17.0000,100.00,"$161,765",1,-0.582,1,2020,0,135 STREET HOLDINGS LLC,"27 EAST 21ST STREET, 6TH FLOOR",NaN,NEW YORK,NY,10010,1,01940,0055,NaN,2021,227641.0,37640.0,NaN,NaN,NaN,265281.0,149329.0,43281.0,18358.0,NaN

In [26]:
mergedata2['cap rate']=100*(mergedata2['TOTAL INCOME FROM REAL ESTATE']-mergedata2['TOTAL EXPENSES'])/mergedata2['price_per_blgd']

In [27]:
mergedata2

,bbl,document_id,res_unit,total_units_doc,prop_units,document_amt,price_per_blgd,ppu,percent_trans,units_bought,percent_trans_edited,percent_trans_ppu_edited,seq,z_percent_trans_ppu,boro,year,p1_count,p1_a_name,p1_a_address_1,p1_a_address_2,p1_a_city,p1_a_state,p1_a_zip,BORO,BLOCK,FROM_LOT,TO_LOT,FILING YEAR,REGULATED,UNREGULATED,OFFICE,OWNER/RELATED SPACE,GOV. RENTAL SUBSIDIES,TOTAL INCOME FROM REAL ESTATE,TOTAL EXPENSES,AMORTIZED LEASE AND TENANT IMP. COSTS,REPAIRS AND MAINT.,tract_10,cap rate
0,1004350011,2.020090e+15,10,10,1.0,8500000,8500000,850000,100.00,10.0000,100.00,"$850,000",1,0.815,1,2020,1,94 ST MARKS LLC,C/O: PENN SOUTH CAPITAL,"41 MADISON AVE, 31ST FLOOR",NEW YORK,NY,10010,1,00435,0011,NaN,2021,NaN,163371.0,NaN,NaN,NaN,371827.0,604802.0,NaN,181512.0,NaN,-2.740882
1,1004180047,2.020092e+15,22,22,1.0,5350000,5350000,243182,100.00,22.0000,100.00,"$243,182",1,-0.417,1,2020,1,109 ELDRIDGE LLC,"C/O KOSSOFF, PLLC","217 BROADWAY, SUITE 401",NEW YORK,NY,10007,1,00418,0047,NaN,2021,119722.0,166891.0,NaN,NaN,NaN,367698.0,195124.0,18753.0,45560.0,NaN,3.225682
2,2028970127,2.020101e+15,46,46,1.0,5000000,5000000,108696,100.00,46.0000,100.00,"$108,696",1,-0.814,2,2020,1,FITZPATRICK HOUSE III LLC,44 WARBURTON AVENUE,1ST FL,YONKERS,NY,10701,2,02897,0127,NaN,2021,480401.0,NaN,NaN,NaN,29542.0,509943.0,327277.0,NaN,65749.0,3.600502e+10,3.653320
3,4006330078,2.020101e+15,60,60,1.0,15600000,15600000,260000,100.00,60.0000,100.00,"$260,000",1,0.162,4,2020,2,"ANDREW LATOS, EXECUTOR","23-25 31ST STREET, SUITE 410",NaN,ASTORIA,NY,11105,4,00633,0078,NaN,2021,455811.0,629454.0,NaN,NaN,NaN,1087015.0,NaN,NaN,66790.0,NaN,NaN
4,3012190056,2.020101e+15,21,21,1.0,4330000,4330000,206190,100.00,21.0000,100.00,"$206,190",1,-0.446,3,2020,1,3047 LLC,165 COLERIDGE STREET,NaN,BROOKLYN,NY,11235,3,01219,0056,NaN,2021,157583.0,229092.0,NaN,NaN,NaN,393020.0,172158.0,11667.0,75127.0,NaN,5.100739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,3007480057,2.020012e+15,17,17,1.0,3500000,3500000,205882,100.00,17.0000,100.00,"$205,882",1,-0.447,3,2020,0,545 46TH STREET LLC,1379 CONEY ISLAND AVENUE,NaN,BROOKLYN,NY,11230,3,00748,0057,NaN,2021,257008.0,NaN,NaN,NaN,NaN,257008.0,85080.0,NaN,19187.0,NaN,4.912229
255,1015710002,2.020012e+15,13,13,1.0,617310,617310,47485,21.66,2.8158,21.66,"$219,231",1,-0.465,1,2020,0,JG BRICKTOWNE LLC,C/O: J. GAULT MANAGEMENT CO. INC.,"251 WEST NYACK ROAD, SUITE D",WEST NYACK,NY,10994,1,01571,0002,NaN,2021,NaN,117154.0,NaN,NaN,NaN,218174.0,147250.0,NaN,60873.0,NaN,11.489203
256,2030500070,2.020013e+15,89,89,1.0,4463828,4463828,50155,100.00,89.0000,100.00,"$50,155",1,-1.512,2,2020,0,HIGHBRIDGE COMMUNITY DEVELOPMENT CORPORATION,1465 NELSON AVENUE,NaN,BRONX,NY,10452,2,03050,0070,NaN,2021,1043885.0,NaN,NaN,NaN,NaN,1058405.0,588764.0,NaN,102631.0,3.600504e+10,10.521037
257,1012020019,2.020013e+15,6,6,1.0,5595000,5595000,932500,100.00,6.0000,100.00,"$932,500",1,0.982,1,2020,0,"WHITE, CO EXECUTOR, ELIZABETH",27 HOUTMAN ROAD,NaN,SAUGERTIES,NY,12477,1,01202,0019,NaN,2021,NaN,NaN,24000.0,NaN,NaN,24000.0,52661.0,NaN,7159.0,NaN,-0.512261
258,1019400055,2.020013e+15,17,17,1.0,2750000,2750000,161765,100.00,17.0000,100.00,"$161,765",1,-0.582,1,2020,0,135 STREET HOLDINGS LLC,"27 EAST 21ST STREET, 6TH FLOOR",NaN,NEW YORK,NY,10010,1,01940,0055,NaN,2021,227641.0,37640.0,NaN,NaN,NaN,265281.0,149329.0,43281.0,18358.0,NaN,4.216436

In [14]:
mergedata=pd.merge( acris, 
                    taxdata,
                    on='bbl',
                    how='inner')

In [16]:
pd.set_option('display.max_columns', None)

In [17]:
mergedata

,bbl,document_id,res_unit,total_units_doc,prop_units,document_amt,price_per_blgd,ppu,percent_trans,units_bought,percent_trans_edited,percent_trans_ppu_edited,seq,z_percent_trans_ppu,boro,year,p1_count,p1_a_name,p1_a_address_1,p1_a_address_2,p1_a_city,p1_a_state,p1_a_zip,BORO,BLOCK,FROM_LOT,TO_LOT,FILING YEAR,REGULATED,UNREGULATED,OFFICE,OWNER/RELATED SPACE,GOV. RENTAL SUBSIDIES,TOTAL INCOME FROM REAL ESTATE,TOTAL EXPENSES,AMORTIZED LEASE AND TENANT IMP. COSTS,REPAIRS AND MAINT.,tract_10
0,1004350011,2.020090e+15,10,10,1.0,8500000,8500000,850000,100.00,10.0000,100.00,"$850,000",1,0.815,1,2020,1,94 ST MARKS LLC,C/O: PENN SOUTH CAPITAL,"41 MADISON AVE, 31ST FLOOR",NEW YORK,NY,10010,1,00435,0011,NaN,2021,NaN,163371.0,NaN,NaN,NaN,371827.0,604802.0,NaN,181512.0,NaN
1,1004180047,2.020092e+15,22,22,1.0,5350000,5350000,243182,100.00,22.0000,100.00,"$243,182",1,-0.417,1,2020,1,109 ELDRIDGE LLC,"C/O KOSSOFF, PLLC","217 BROADWAY, SUITE 401",NEW YORK,NY,10007,1,00418,0047,NaN,2021,119722.0,166891.0,NaN,NaN,NaN,367698.0,195124.0,18753.0,45560.0,NaN
2,2028970127,2.020101e+15,46,46,1.0,5000000,5000000,108696,100.00,46.0000,100.00,"$108,696",1,-0.814,2,2020,1,FITZPATRICK HOUSE III LLC,44 WARBURTON AVENUE,1ST FL,YONKERS,NY,10701,2,02897,0127,NaN,2021,480401.0,NaN,NaN,NaN,29542.0,509943.0,327277.0,NaN,65749.0,3.600502e+10
3,4006330078,2.020101e+15,60,60,1.0,15600000,15600000,260000,100.00,60.0000,100.00,"$260,000",1,0.162,4,2020,2,"ANDREW LATOS, EXECUTOR","23-25 31ST STREET, SUITE 410",NaN,ASTORIA,NY,11105,4,00633,0078,NaN,2021,455811.0,629454.0,NaN,NaN,NaN,1087015.0,NaN,NaN,66790.0,NaN
4,3012190056,2.020101e+15,21,21,1.0,4330000,4330000,206190,100.00,21.0000,100.00,"$206,190",1,-0.446,3,2020,1,3047 LLC,165 COLERIDGE STREET,NaN,BROOKLYN,NY,11235,3,01219,0056,NaN,2021,157583.0,229092.0,NaN,NaN,NaN,393020.0,172158.0,11667.0,75127.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,3007480057,2.020012e+15,17,17,1.0,3500000,3500000,205882,100.00,17.0000,100.00,"$205,882",1,-0.447,3,2020,0,545 46TH STREET LLC,1379 CONEY ISLAND AVENUE,NaN,BROOKLYN,NY,11230,3,00748,0057,NaN,2021,257008.0,NaN,NaN,NaN,NaN,257008.0,85080.0,NaN,19187.0,NaN
255,1015710002,2.020012e+15,13,13,1.0,617310,617310,47485,21.66,2.8158,21.66,"$219,231",1,-0.465,1,2020,0,JG BRICKTOWNE LLC,C/O: J. GAULT MANAGEMENT CO. INC.,"251 WEST NYACK ROAD, SUITE D",WEST NYACK,NY,10994,1,01571,0002,NaN,2021,NaN,117154.0,NaN,NaN,NaN,218174.0,147250.0,NaN,60873.0,NaN
256,2030500070,2.020013e+15,89,89,1.0,4463828,4463828,50155,100.00,89.0000,100.00,"$50,155",1,-1.512,2,2020,0,HIGHBRIDGE COMMUNITY DEVELOPMENT CORPORATION,1465 NELSON AVENUE,NaN,BRONX,NY,10452,2,03050,0070,NaN,2021,1043885.0,NaN,NaN,NaN,NaN,1058405.0,588764.0,NaN,102631.0,3.600504e+10
257,1012020019,2.020013e+15,6,6,1.0,5595000,5595000,932500,100.00,6.0000,100.00,"$932,500",1,0.982,1,2020,0,"WHITE, CO EXECUTOR, ELIZABETH",27 HOUTMAN ROAD,NaN,SAUGERTIES,NY,12477,1,01202,0019,NaN,2021,NaN,NaN,24000.0,NaN,NaN,24000.0,52661.0,NaN,7159.0,NaN
258,1019400055,2.020013e+15,17,17,1.0,2750000,2750000,161765,100.00,17.0000,100.00,"$161,765",1,-0.582,1,2020,0,135 STREET HOLDINGS LLC,"27 EAST 21ST STREET, 6TH FLOOR",NaN,NEW YORK,NY,10010,1,01940,0055,NaN,2021,227641.0,37640.0,NaN,NaN,NaN,265281.0,149329.0,43281.0,18358.0,NaN

Next, we create a new column in the mergedata sheet called cap rate, populated using the formula CR= (income-expenses)/(sale price)

In [18]:
mergedata['cap rate']=100*(mergedata['TOTAL INCOME FROM REAL ESTATE']-mergedata['TOTAL EXPENSES'])/mergedata['price_per_blgd']

In [19]:
mergedata

,bbl,document_id,res_unit,total_units_doc,prop_units,document_amt,price_per_blgd,ppu,percent_trans,units_bought,percent_trans_edited,percent_trans_ppu_edited,seq,z_percent_trans_ppu,boro,year,p1_count,p1_a_name,p1_a_address_1,p1_a_address_2,p1_a_city,p1_a_state,p1_a_zip,BORO,BLOCK,FROM_LOT,TO_LOT,FILING YEAR,REGULATED,UNREGULATED,OFFICE,OWNER/RELATED SPACE,GOV. RENTAL SUBSIDIES,TOTAL INCOME FROM REAL ESTATE,TOTAL EXPENSES,AMORTIZED LEASE AND TENANT IMP. COSTS,REPAIRS AND MAINT.,tract_10,cap rate
0,1004350011,2.020090e+15,10,10,1.0,8500000,8500000,850000,100.00,10.0000,100.00,"$850,000",1,0.815,1,2020,1,94 ST MARKS LLC,C/O: PENN SOUTH CAPITAL,"41 MADISON AVE, 31ST FLOOR",NEW YORK,NY,10010,1,00435,0011,NaN,2021,NaN,163371.0,NaN,NaN,NaN,371827.0,604802.0,NaN,181512.0,NaN,-2.740882
1,1004180047,2.020092e+15,22,22,1.0,5350000,5350000,243182,100.00,22.0000,100.00,"$243,182",1,-0.417,1,2020,1,109 ELDRIDGE LLC,"C/O KOSSOFF, PLLC","217 BROADWAY, SUITE 401",NEW YORK,NY,10007,1,00418,0047,NaN,2021,119722.0,166891.0,NaN,NaN,NaN,367698.0,195124.0,18753.0,45560.0,NaN,3.225682
2,2028970127,2.020101e+15,46,46,1.0,5000000,5000000,108696,100.00,46.0000,100.00,"$108,696",1,-0.814,2,2020,1,FITZPATRICK HOUSE III LLC,44 WARBURTON AVENUE,1ST FL,YONKERS,NY,10701,2,02897,0127,NaN,2021,480401.0,NaN,NaN,NaN,29542.0,509943.0,327277.0,NaN,65749.0,3.600502e+10,3.653320
3,4006330078,2.020101e+15,60,60,1.0,15600000,15600000,260000,100.00,60.0000,100.00,"$260,000",1,0.162,4,2020,2,"ANDREW LATOS, EXECUTOR","23-25 31ST STREET, SUITE 410",NaN,ASTORIA,NY,11105,4,00633,0078,NaN,2021,455811.0,629454.0,NaN,NaN,NaN,1087015.0,NaN,NaN,66790.0,NaN,NaN
4,3012190056,2.020101e+15,21,21,1.0,4330000,4330000,206190,100.00,21.0000,100.00,"$206,190",1,-0.446,3,2020,1,3047 LLC,165 COLERIDGE STREET,NaN,BROOKLYN,NY,11235,3,01219,0056,NaN,2021,157583.0,229092.0,NaN,NaN,NaN,393020.0,172158.0,11667.0,75127.0,NaN,5.100739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,3007480057,2.020012e+15,17,17,1.0,3500000,3500000,205882,100.00,17.0000,100.00,"$205,882",1,-0.447,3,2020,0,545 46TH STREET LLC,1379 CONEY ISLAND AVENUE,NaN,BROOKLYN,NY,11230,3,00748,0057,NaN,2021,257008.0,NaN,NaN,NaN,NaN,257008.0,85080.0,NaN,19187.0,NaN,4.912229
255,1015710002,2.020012e+15,13,13,1.0,617310,617310,47485,21.66,2.8158,21.66,"$219,231",1,-0.465,1,2020,0,JG BRICKTOWNE LLC,C/O: J. GAULT MANAGEMENT CO. INC.,"251 WEST NYACK ROAD, SUITE D",WEST NYACK,NY,10994,1,01571,0002,NaN,2021,NaN,117154.0,NaN,NaN,NaN,218174.0,147250.0,NaN,60873.0,NaN,11.489203
256,2030500070,2.020013e+15,89,89,1.0,4463828,4463828,50155,100.00,89.0000,100.00,"$50,155",1,-1.512,2,2020,0,HIGHBRIDGE COMMUNITY DEVELOPMENT CORPORATION,1465 NELSON AVENUE,NaN,BRONX,NY,10452,2,03050,0070,NaN,2021,1043885.0,NaN,NaN,NaN,NaN,1058405.0,588764.0,NaN,102631.0,3.600504e+10,10.521037
257,1012020019,2.020013e+15,6,6,1.0,5595000,5595000,932500,100.00,6.0000,100.00,"$932,500",1,0.982,1,2020,0,"WHITE, CO EXECUTOR, ELIZABETH",27 HOUTMAN ROAD,NaN,SAUGERTIES,NY,12477,1,01202,0019,NaN,2021,NaN,NaN,24000.0,NaN,NaN,24000.0,52661.0,NaN,7159.0,NaN,-0.512261
258,1019400055,2.020013e+15,17,17,1.0,2750000,2750000,161765,100.00,17.0000,100.00,"$161,765",1,-0.582,1,2020,0,135 STREET HOLDINGS LLC,"27 EAST 21ST STREET, 6TH FLOOR",NaN,NEW YORK,NY,10010,1,01940,0055,NaN,2021,227641.0,37640.0,NaN,NaN,NaN,265281.0,149329.0,43281.0,18358.0,NaN,4.216436

Finally, we export the frame mergedata to a new spreadsheet in the output folder called CapRates.csv

In [20]:
mergedata.to_csv('../output/CapRates.csv')

In [22]:
table=mergedata.pivot_table(index=['boro'], aggfunc='mean')

/var/folders/61/68rz41055xg7sv4h43532jh00000gn/T/ipykernel_88341/1837251977.py:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  table=mergedata.pivot_table(index=['boro'], aggfunc='mean')

In [23]:
table

,AMORTIZED LEASE AND TENANT IMP. COSTS,FILING YEAR,GOV. RENTAL SUBSIDIES,OFFICE,OWNER/RELATED SPACE,REGULATED,REPAIRS AND MAINT.,TOTAL EXPENSES,TOTAL INCOME FROM REAL ESTATE,UNREGULATED,cap rate,document_amt,document_id,p1_a_zip,p1_count,percent_trans,percent_trans_edited,ppu,price_per_blgd,prop_units,res_unit,seq,total_units_doc,tract_10,units_bought,year,z_percent_trans_ppu
boro,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,39875.680851,2021,28982.000000,70458.333333,131008.5,273847.008475,66084.345588,419165.302817,751878.043796,682289.209877,3.622142,1.353253e+07,2.020624e+15,1.466728e+07,1.244755,97.773846,97.773846,459065.174825,1.271727e+07,0.959347,28.363636,1,30.356643,3.606102e+10,27.890320,2020.559441,-0.065587
2,82184.000000,2021,23706.714286,84986.000000,NaN,438200.575758,57933.411765,285950.941176,466859.176471,119157.250000,3.137758,4.828781e+06,2.020518e+15,1.196396e+07,1.057143,100.000000,100.000000,141395.914286,4.828781e+06,1.000000,36.542857,1,36.542857,3.600502e+10,36.542857,2020.457143,-0.363429
3,38000.357143,2021,218843.166667,35250.500000,103300.0,694509.810345,74923.388060,316837.514706,760823.044118,214868.652174,12.773520,1.106850e+07,2.020601e+15,6.480207e+06,1.455882,88.701471,88.701471,252935.220588,9.890973e+06,0.945069,38.720588,1,43.382353,3.604705e+10,30.988485,2020.544118,-0.220235
4,13648.000000,2021,8770.000000,99600.000000,NaN,460957.750000,55568.000000,306392.666667,691392.307692,374542.375000,3.084247,8.244538e+06,2.020296e+15,1.240954e+04,1.000000,100.000000,100.000000,209634.230769,8.244538e+06,1.000000,38.230769,1,38.230769,NaN,38.230769,2020.230769,-0.283692

In [35]:
mergedata.groupby(['BORO','FILING YEAR']).mean()

/var/folders/61/68rz41055xg7sv4h43532jh00000gn/T/ipykernel_88341/2795707990.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mergedata.groupby(['BORO','FILING YEAR']).mean()

,,document_id,res_unit,total_units_doc,prop_units,document_amt,price_per_blgd,ppu,percent_trans,units_bought,percent_trans_edited,seq,z_percent_trans_ppu,boro,year,p1_count,p1_a_zip,TO_LOT,REGULATED,UNREGULATED,OFFICE,OWNER/RELATED SPACE,GOV. RENTAL SUBSIDIES,TOTAL INCOME FROM REAL ESTATE,TOTAL EXPENSES,AMORTIZED LEASE AND TENANT IMP. COSTS,REPAIRS AND MAINT.,tract_10,cap rate
BORO,FILING YEAR,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2021,2.020624e+15,28.363636,30.356643,0.959347,1.353253e+07,1.271727e+07,459065.174825,97.773846,27.890320,97.773846,1.0,-0.065587,1.0,2020.559441,1.244755,1.466728e+07,NaN,273847.008475,682289.209877,70458.333333,131008.5,28982.000000,751878.043796,419165.302817,39875.680851,66084.345588,3.606102e+10,3.622142
2,2021,2.020518e+15,36.542857,36.542857,1.000000,4.828781e+06,4.828781e+06,141395.914286,100.000000,36.542857,100.000000,1.0,-0.363429,2.0,2020.457143,1.057143,1.196396e+07,NaN,438200.575758,119157.250000,84986.000000,NaN,23706.714286,466859.176471,285950.941176,82184.000000,57933.411765,3.600502e+10,3.137758
3,2021,2.020601e+15,38.720588,43.382353,0.945069,1.106850e+07,9.890973e+06,252935.220588,88.701471,30.988485,88.701471,1.0,-0.220235,3.0,2020.544118,1.455882,6.480207e+06,NaN,694509.810345,214868.652174,35250.500000,103300.0,218843.166667,760823.044118,316837.514706,38000.357143,74923.388060,3.604705e+10,12.773520
4,2021,2.020296e+15,38.230769,38.230769,1.000000,8.244538e+06,8.244538e+06,209634.230769,100.000000,38.230769,100.000000,1.0,-0.283692,4.0,2020.230769,1.000000,1.240954e+04,NaN,460957.750000,374542.375000,99600.000000,NaN,8770.000000,691392.307692,306392.666667,13648.000000,55568.000000,NaN,3.084247

In [33]:
mergedata2['cap rate'].isna().value_counts()

False    249
True      10
Name: cap rate, dtype: int64